DA project/**
midesem/**
datalab.zip
**/.ipynb_checkpoints
week2/Week 2 - Exercise_ashwin.ipynb
week2/week2_ch16b024.zip
week2/Week2Excercise.ipynb
week2/week2_ch16b024
week3/CH16B024_week3
week3/CH16B024_week3.zip
week4/assignement_week4.zip
week4/Exercise 1-20190821.zip
week4/Exercise 2-20190821.zip
**/*.zip
week9/__MACOSX/**
week10/cache/**
